body
{
    background-image: url('bg.jpg');
    background-size: cover;
}

h1
{
    color: whitesmoke;
    text-align: center;
    margin-left: 50px;
}

h2
{
    color: white;
    margin-left: 50px;
}

p
{
    color: white;
    margin-left: 50px;
}

.box
{
    width: 900;
    height:50;
    background-color: gainsboro;
    border-left: 4px solid steelblue;
    padding: 12px;
    margin-left: 50px;
}
.container
{
    
    width: 900;
    margin-left: 50px;
    background:gainsboro;   
    border:4px solid plum;         
    padding: 10px;
    border-radius: 10px;          
    display: flex; 
    flex-direction: row;               
    align-items: center;          
    gap: 15px;                   
     
}

.footer
{
    
    background-color: yellow;
    margin-top: 150px;
    display: flex;
    padding: 15px;
    border-radius: 4px;
    flex-direction: row;
    gap: 800px;
}

.price
{
    color: red;
}

h3
{
    color:blue;
}

div p
{
    color:black;
    margin-left: 0;
}
span
{
    margin-left: 100;
}